<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章详情</title>
    <script type="text/javascript" src="/static/assets/js/fontSize.js"></script>
    <link rel="stylesheet" href="/static/assets/css/weui.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/iconfont.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
<div class="nd_title">AI商业趋势有哪些</div>
<div class="nd_date">2019年3月28日</div>
<div class="nd_auth">作者</div>
<div class="nd_content">
    AI商业趋势有哪些AI商业趋势有哪些AI商业趋势有哪些AI商业趋势有哪些AI商业趋势有哪些AI商业趋势有哪些AI商业趋势有哪些AI商业趋势有哪些AI商业趋势有哪些AI商业趋势有哪些AI商业趋势有哪些AI商业趋势有哪些
</div>
</body>
</html>
<script type="text/javascript" src="/static/assets/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="/static/assets/js/common.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

    })
</script>