<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文章详情</title>
    <script type="text/javascript" src="/static/assets/js/fontSize.js"></script>
    <link rel="stylesheet" href="/static/assets/css/weui.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/iconfont.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
<div class="nd_title">{$info.title}</div>
<div class="nd_date">{$info.create_time|strtotime|date='Y年m月d日 H:i'}</div>
<div class="nd_auth">{$info.realname}</div>
<style>
    p img {width: 100% !important;}
    p video {width: 100% !important;}
</style>
<div style="width: 100%;"><?php echo $info['content'];?></div>
</body>
</html>
