<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>红尾巴AI英语</title>
    <script type="text/javascript" src="/static/assets/js/fontSize.js"></script>
    <link rel="stylesheet" href="/static/assets/css/weui.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/iconfont.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <style>
        body{
            min-height: 100vh;
            background-color: #F5F6F8;
        }
    </style>
</head>
<body>
<div class="new_top">
    <div class="new_img">
        <div class="new_code"><img src="/static/assets/img/code.png" alt=""></div>
        <div class="new_text">长按识别二维码</div>
    </div>
</div>
<div class="new_list">
    <div class="new_title">文章</div>
    <a class="new_item" href="new_d.html">
        <div class="new_imgs"><img src="/static/assets/img/ex.png" alt=""></div>
        <div class="new_right">
            <div class="new_name">AI商业趋势有哪些？</div>
            <div class="new_date">2019年3月28日</div>
        </div>
    </a>
    <a class="new_item" href="new_d.html">
        <div class="new_imgs"><img src="/static/assets/img/ex.png" alt=""></div>
        <div class="new_right">
            <div class="new_name">AI商业趋势的优缺点都有哪些？</div>
            <div class="new_date">2019年3月28日</div>
        </div>
    </a>
    <a class="new_item" href="new_d.html">
        <div class="new_imgs"><img src="/static/assets/img/ex.png" alt=""></div>
        <div class="new_right">
            <div class="new_name">AI商业趋势的优缺点都有哪些AI商业趋势的优缺点都有哪些？</div>
            <div class="new_date">2019年3月28日</div>
        </div>
    </a>
</div>
</body>
</html>
<script type="text/javascript" src="/static/assets/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="/static/assets/js/common.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

    })
</script>
