<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的推广码</title>
    <script src="/static/assets/js/fontSize.js"></script>
    <link rel="stylesheet" href="/static/assets/css/weui.min.css">
    <link rel="stylesheet" href="/static/assets/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css?123">
    <link rel="stylesheet" href="/static/assets/fonts/iconfont.css">
</head>
<body class="codes_box">
<div class="img_code_box">
    <img src="{:url('Index/qrcode')}" alt="">
    <span>扫一扫上方二维码</span>
</div>
</body>
</html>
<script src="/static/assets/js/jquery-2.1.0.js"></script>
<!--<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>-->
<script src="/static/assets/js/jquery-weui.min.js"></script>
<script src="/static/assets/js/common.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
    })
</script>
