<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的推广码</title>
    <script src="/static/assets/js/fontSize.js"></script>
    <link rel="stylesheet" href="/static/assets/css/weui.min.css">
    <link rel="stylesheet" href="/static/assets/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css?123">
    <link rel="stylesheet" href="/static/assets/fonts/iconfont.css">
    <style>
        html,body{
            width: 100%;height: 100%;
        }
    </style>
</head>
<body>
<img src="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . '/index/index/mixQrcode?pcode='.$pcode;?>" alt="" style="width: 100%">
</body>
</html>