<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>联系客服</title>
    <!--<script src="/static/assets/js/fontSize.js"></script>-->
    <!--<link rel="stylesheet" href="/static/assets/css/weui.min.css">-->
    <!--<link rel="stylesheet" href="/static/assets/css/jquery-weui.min.css">-->
    <!--<link rel="stylesheet" href="/static/assets/css/style.css">-->
    <!--<link rel="stylesheet" href="/static/assets/fonts/iconfont.css">-->
    <script src="/static/assets/js/fontSize.js"></script>
    <link rel="stylesheet" href="/static/assets/css/weui.min.css">
    <link rel="stylesheet" href="/static/assets/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css?123">
    <link rel="stylesheet" href="/static/assets/fonts/iconfont.css">
</head>
<body>
<div class="success_box">
    <p>您账户需要进一步的权限，请联系平台管理</p>
    <p><i class="iconfont icon-dianhua"></i>：020-36992166</p>
</div>
<a class="ware_btn" href="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . '/home';?>">返回首页</a>
</body>
</html>