<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的库存</title>
    <script src="/static/assets/js/fontSize.js"></script>
    <link rel="stylesheet" href="/static/assets/css/weui.min.css">
    <link rel="stylesheet" href="/static/assets/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css?123">
    <link rel="stylesheet" href="/static/assets/fonts/iconfont.css">
</head>
<body>
<div class="ware_title">仓库货物剩余数量</div>
<div class="ware_num">{$stock}台</div>
<a class="ware_btn" href="{:url('Index/stocking')}">备货</a>
</body>
</html>
<script src="/static/assets/js/jquery-2.1.0.js"></script>
<!--<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>-->
<script src="/static/assets/js/jquery-weui.min.js"></script>
<script src="/static/assets/js/common.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
    })
</script>
